<div ng-controller="mainController">


    <input type="button" ng-click="addCeleb()" class="btn btn-default" value="Add Celeb">
    <ng-celebs celebs="celebs" callback="crudOperation"></ng-celebs>
 </div>
